
body{
	margin:auto;
}

.size{
	width:40px;
	margin-top:-15px;
	margin-bottom:10px;
	margin-right: 20px;
}

p{display:inline;
}


#squareBox{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	background:blue;
	margin:5%;
}

.container{
	border: solid 2px red;
	background-color:green;
}

.square{
	width:30px;
	height:30px;
	margin-right:0px;
	font-size:9px;
	text-align:center;
}

.ButtonsInput{
}

