
body{
	margin:0;
	display:flex;
	align-items:center;
	justify-content: center;
}

.center{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content: center;
	margin:0;
}

	

#squareBox{
	background:blue;
	justify-items:center;
	width:87vmin;
	height:86vmin;
	margin:2% 0;

}


.container{
	outline: solid 3px #32f;
	background-color:green;
	justify-items:center;
}

.square{
	width:8vmin;
	height:8vmin;
	margin-right:0px;
	font-size:9px;
	text-align:center;
	border:solid 1px black;
	font-size:100%;
}

.square:active{

}


.buttons, .size{
	display: flex;
	flex-direction: column;
	margin: 1%;
	flex-wrap: wrap;
}
/*
.square:focus{
	border:solid red 2px;
	outline:none;
	background-color: blue;
}
*/

.size input{
	height:2rem;
	width: 2rem;
	margin:3%;
}

@media screen and (max-width: 625px){
	.center{
	flex-direction: column;
	}

	.buttons, .size{
		flex-direction:row;	
	}

}

p {
	display:inline;
	margin:auto;
}

.Buttons Input{
	width: 6.5vmin;
	height: 6.5vmin;
}
