
body{
	margin:0
}

.center{
	display:flex;
	flex-direction:column;
	height: 100vh;
	align-items:center;
	justify-content: center;
}

#squareBox{
	background:blue;
	margin: 2% auto;
	justify-items:center;
	width:72vmin;
	height:72vmin;
}


.container{
	outline: solid 2px red;
	background-color:green;
	justify-items:center;
}

.square{
	width:8vmin;
	height:8vmin;
	margin-right:0px;
	font-size:9px;
	text-align:center;
}

.size{
	width:40px;
	margin-top:-15px;
	margin-bottom:10px;
	margin-right: 20px;
}


p {
	display:inline;
}

.ButtonsInput{
}

